[submodule "libs/cmake"]
	path = libs/cmake
	url = https://gitlab.kitware.com/Zeex/cmake.git
	branch = master
[submodule "libs/tinydir"]
	path = libs/tinydir
	url = https://github.com/cxong/tinydir.git
	branch = master
[submodule "libs/fmt"]
	path = libs/fmt
	url = https://github.com/fmtlib/fmt.git
	branch = release-4.0
